header {
  background-color: black;
  color: white;
  font-size: 22px; 
}

.borda-bottom{
  height: 1px;
  background-color: gray;
}

.itens {
  display: flex;
  justify-content: space-evenly;
}
ul{
  padding-bottom: 0px;
  list-style: none

}

.item {
}

.item:hover {
  cursor: pointer;
}


@media (max-width: 447px)
{
  header{
    font-size: 17px;
  }
}

.nav-item {
  padding: 0 5rem;
}
